DEVISE_JWT_SECRET_KEY="DEVISE_JWT_SECRET_KEY"
OTP_SECRET="OTP_SECRET"
TWILIO_ACCOUNT_SID="TWILIO_ACCOUNT_SID"
TWILIO_AUTH_TOKEN="TWILIO_AUTH_TOKEN"
HASURA_ENDPOINT="http://graphql-engine:8080/v1/graphql"
HASURA_ADMIN_SECRET="hasura"